*:not(ul):not(ol) {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

input[id] {
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px 0;
  font-size: 30px;
  padding: 10px;
  outline: none;
}

input[id]#colorOutput {
  border-color: gray;
}

h1 {
  font-family: cursive;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.output h1 {
  color: gray;
}
