*:not(ul):not(ol)
  padding: 0
  margin: 0
#main
  font-family: cursive
header
  height: 25vmin
  display: flex
  align-items: center
  justify-content: center
  background-color: rgba(0,0,0,.2)
  color: black
  h1
    font-weight: 800
    font-size: 10vmin
#img-div
  display: flex
  justify-content: center
  background-color: rgba(0,0,0,.96)
  figure
    padding: 20px 0
    #image
      max-width: 100%
      display: block
    #img-caption
      color: rgba(255,255,255,.8)
      font-size: 5vmin
      text-align: center
      padding: 10px 0 0 0
#tribute-info
  background-color: rgba(0,0,0,.3)
  p
    width: 60%
    margin: auto
    text-align: justify
    font-size: 4vmin
    line-height: 6vh
    text-indent: 20px
  em
    @extend p
    display: block
    padding: 10px 0
    text-align: center
  #tribute-link
    @extend em
    color: white
    text-decoration: none
    transition: color 1s
    &:hover
      transition: color 1s
      color: blue