@import url("https://fonts.googleapis.com/css?family=Nova+Cut|Nova+Flat|Nova+Oval");
*:not(ul):not(ol) {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Nova Oval', cursive;
  --header-height: 8vh;
  --main-color: #e6b223;
  --adjacent-color: #EFEA5A;
  --complementary-color: rgba(4, 139, 168, 0.9);
  overflow-x: hidden;
}

header {
  max-height: var(--header-height);
  width: 100vw;
  background-color: var(--main-color);
  display: inline-grid;
  grid-template-columns: 20px auto auto 1fr auto 50px;
  grid-gap: 5px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: default;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

header #logo {
  grid-column: 2;
  height: var(--header-height);
}

header #name, header #location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.6vw;
  color: white;
}

header #location {
  grid-column: 5;
}

#hero {
  position: relative;
  width: 100vw;
  height: calc(100vh - var(--header-height));
  margin-top: var(--header-height);
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

#hero #heroVideo {
  -o-object-fit: cover;
     object-fit: cover;
}

#hero #splashText {
  position: absolute;
  -ms-flex-item-align: center;
      align-self: center;
  color: white;
  font-size: 5vw;
  cursor: default;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  opacity: 0;
  -webkit-animation-name: heroTextAnimation;
          animation-name: heroTextAnimation;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#hero #splashText .stroke {
  color: transparent;
  -webkit-text-stroke: 0.5vmin var(--main-color);
  text-fill-color: var(--main-color);
}

section {
  position: relative;
  width: 100vw;
  height: auto;
  background-image: url("images/memphis pyramid.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  z-index: 0;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

section::before {
  background-color: var(--complementary-color);
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -1;
}

section #title {
  width: 100vw;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 50px 0;
}

section #title h1 {
  font-size: 80px;
  margin: 0 20px;
}

section article {
  width: 80vw;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  grid-template-rows: 10px repeat(2, auto) 100px 10px;
  grid-column-gap: 80px;
  margin: 0 0 50px 0;
}

section article img {
  grid-row: 1 / 6;
  width: 100%;
  border-radius: 15px;
}

section article h2 {
  grid-row: 2;
  font-size: 2vw;
  color: var(--adjacent-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section article p {
  grid-row: 3;
  font-size: 1.5vw;
  color: white;
  font-family: 'Nova Flat', cursive;
  text-indent: 50px;
  text-align: justify;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section article button {
  grid-row: 4;
  width: 40%;
  height: 80%;
  border: 5px solid var(--adjacent-color);
  border-radius: 15px;
  background: transparent;
  color: white;
  font-size: 2.86vw;
  font-family: 'Nova Cut', cursive;
  cursor: pointer;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
}

section article button:hover {
  background: var(--adjacent-color);
  -webkit-transition: background 1s ease-in-out;
  transition: background 1s ease-in-out;
}

section .line {
  width: 90vw;
  height: 50px;
  background: url("images/line.svg");
  margin-bottom: 50px;
}

@media (max-width: 1200px) {
  section article {
    grid-template-columns: 80vw;
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 0;
    grid-row-gap: 10px;
  }
  section article img {
    grid-row: 1;
  }
  section article h2 {
    font-size: 40px;
  }
  section article p {
    font-size: 30px;
  }
  section article button {
    height: 100%;
    font-size: 55px;
  }
}

@-webkit-keyframes heroTextAnimation {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes heroTextAnimation {
  from {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
